portable-dt1/logs/
portable-dt1/runtime/RuntimeSession-v113/delve-dt1-v1/live-candidate-audit-v42.json
portable-dt1/runtime/RuntimeSession-v113/delve-dt1-v1/test-v55/build.json
portable-dt1/runtime/RuntimeSession-v113/first-game-v1/profile/.detuksosrs/logs/*
portable-dt1/runtime/RuntimeSession-v113/first-game-v1/profile/AppData/Local/Jagex/Old School Runescape/CrashLogDump.txt
portable-dt1/runtime/RuntimeSession-v113/first-game-v1/profile/AppData/Local/Jagex/Old School Runescape/preferences_totp.dat
portable-dt1/runtime/RuntimeSession-v113/first-game-v1/profile/AppData/Local/Jagex/Old School Runescape/users/
